In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
filepath = 'Top10_RandomForest_Models.csv'
df = pd.read_csv(filepath)
df

     Unnamed: 0         0
0             0  0.805625
1             1  0.817401
2             2  0.827882
3             3  0.827880
4             4  0.828533
..          ...       ...
103         103  0.828537
104         104  0.839004
105         105  0.838348
106         106  0.836387
107         107  0.836387

[108 rows x 2 columns]